node_modules/
x/
.env
.env.local
.env.production
__pycache__/
venv/
*.pyc
*.pyo
.next/
dist/
build/
pgdata/
docker/db/data/
docker/db/pgdata/
docker/postgres/data/
*.zip
*.rar
*.7z
*.log
.DS_Store
Thumbs.db
